<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/syntax.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="/">Netlumination</a>
                </div>
            </div>
            <section id="page">
                <div class="page-header">
                    {{ page.title }}
                </div>
                <div class="row">
                    <div class="span12">
                        {{ content }}
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>