<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <!-- build:css /css/styles.concat.min.css -->
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/syntax.css" rel="stylesheet">
        <link href="/css/responsive.min.css" rel="stylesheet">
        <link href="/css/buttons.css" rel="stylesheet">
        <!-- endbuild -->
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    </head>
    <body>
        <div class="container">
            <header class="well">
                <h1 class="page-header">{{ page.title }}</h1>
                {% if page.previous %}
                <a class="badge badge-success text-white" href="{{page.previous.url}}">« {{page.previous.title | truncatewords:3}}</a>&nbsp;&nbsp;
                {% endif %}
                <a class="badge badge-success text-white" href="/">Home</a>
                {% if page.next %}
                &nbsp;&nbsp;<a class="badge badge-success text-white" href="{{page.next.url}}">{{page.next.title |truncatewords:3}} »</a>
                {% endif %}
            </header>
            <section>
                {{ content }}
            </section>
            <footer>
                {% assign thisPost=page%}
                {% include tags.html%}
                {% if page.comments %}
                <p class="well">To comment <a href="http://twitter.com/home?status=@Peter_Ajtai">tweet @Peter_Ajtai</a> or <a href="https://github.com/pajtai/Netlumination.com/issues">submit an issue on GitHub.</p>
                {% endif %}
                <div class="pull-right">
                    <h3 class="logo"><a href="/">Netlumination</a></h3>
                    <h4 class="pull-right">{{ page.date | date_to_string }}</h4>
                </div>
            </footer>
        </div>
    </body>
</html>